{% load static %}

<!DOCTYPE html>
<html>

{% block head %}
<head>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

</head>
{% endblock head %}

<body class="container-fluid main">
	<h1 class="title"><center>MiMuse  </center></h1>
        <div class="row nav">
        
            <li class="col-sm-4">
                <a href="http://localhost:8000">Home</a>
            </li>
            <li class="col-sm-4">
                <a href="http://localhost:8000/artists/">Artists</a>
            </li>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown button
                </button>
                <!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div> -->
              </div>
            <li class="col-sm-4 songnav">
                <div class="dropdown-content pull-right">
                <a href="http://localhost:8000/songs/" class="dropdown pull-right">Songs</a>
                <div class="row">
                    <div class="dropdown-menu">
                        
                            <!-- <div class="dropdown-toggle"> -->
                            <p class="dropdown-item strong songnav"><a href="{% url 'songs:song_list'%}">Songs</a></p>
                            <p class="dropdown-item strong songnav"><a href="{% url 'songs:album_list'%}">Albums</a></p>
                            <p class="dropdown-item strong songnav"><a href="{% url 'songs:favorites_list' %}">Favorite Songs</a></p>
                            <!-- </div> -->
                        </div></div>
                    </div>
                </div>
            </li>
        </div>
    <div class="run_api">
    </div>
    
   
   
	{% block content %}
    {% endblock content %}
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        {% if message.tags %}{% endif %}{{ message }}
        {% endfor %}
    </div> 
    {% endif %}
</body>

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">	
	
</script>
<script src="/static/js/main.js"></script>
{% endblock js %}
</html>
