{% extends "base.html" %}
{% load static %}

{% block content %}
<h1 class="pt-3">Recommendations</h1>
    {% for song in songs_list %}
        {% comment %} 
        <div class="row pb-2"> 
            <audio controls style="width:50%;display:inline;">
                    <source src={{song.preview_url}} type="audio/mp3">
            </audio> 
            <a style="display:inline;width:50%;vertical-align:text-bottom" href="{% url 'songs:song_detail' song.id %}">
                {{ song.title }} 
            </a>
        </div> 
        {% endcomment %}
        <div class="py-2" style="font-size:x-large;">
            <div class="wrapper">
                <div class="box2"><audio class="col" id="preview" controls>
                    <source src={{song.preview_url}} type="audio/mp3">
                </audio></div>
                <div class="box1">
                <button type="submit" onclick="play()" class="favorite">
                    <i class="bi bi-play-btn inline-block  p-2 pt-0" > </i>
                </button></div>
            </div>
            <a class="my-auto inline-block song" style="vertical-align:-webkit-baseline-middle" href="{% url 'songs:song_detail' song.id %}" > {{song.title}} </a>

        </div>
    {% endfor %}
{% endblock content %}