* {
    font-family: "Manjari", sans-serif;
}

#hovering{
  display: inline;
  cursor: none;
  vertical-align: super;
  }

.favorite:hover {
  color:#f90000;
}
  
.favorited {
  position: relative;
  color:#f90000;
}
  
button {
  all: unset;
  cursor: pointer;
}

form {
  display: inline;
}

.inner-addon {
  position: relative;
}
  
.inner-addon .bi {
  position: absolute;
  pointer-events: none;
  padding-left:  8px;
}
  
.left-addon .bi  { 
  left:  0px;
}
.left-addon input  { padding-left:  30px; }

li a{
  display: block;
  color: white;
  padding: 5% 30%;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.nav{
  background-color: blue;
  text-align: center;
  
}

.title{
  margin-top: 16px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  /* min-width: 160px; */
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block; 
  z-index: 1;
  /* padding: 5% 33%; */
}

.dropdown .dropdown-content:hover {
  display: block;
  /* padding: 5% 33%; */
}

.dropdown-content a {
  color: black;
  /* padding: 5% 33%; */
  text-decoration: none;
  display: block;
}

a {
  color:black;
  text-decoration: none;
}

a:hover {
  opacity: 50%;
  text-decoration: underline;
}
/* 
audio{
  display: none;
} */

.inline-block {
  display: inline-block;
}

.wrapper {
  display: inline-block;
}
.box2 {
  display: none;
}
.wrapper:hover .box1 {
  display: none;
}
.wrapper:hover .box2 {
  display: inline-block;
}
.wrapper:hover a {
  vertical-align: super;
}