#hovering{
  display: inline;
  cursor: none;
  vertical-align: text-top;
  }

.fav {
  position: absolute;
  font-style: italic;
  font-size: 24px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  display: none;
  bottom: 0;
}
.favorite:hover {
  color:#f90000;
}
  
.favorited {
  color:#f90000
}
  
button {
  all: unset;
  cursor: pointer;
}

form {
  display: inline;
}

.inner-addon {
  position: relative;
}
  
.inner-addon .bi {
  position: absolute;
  pointer-events: none;
  padding-left:  8px;
}
  
.left-addon .bi  { 
  left:  0px;
}
.left-addon input  { padding-left:  30px; }

li a{
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.nav{
  background-color: blue;
  text-align: center;
  
}

/* div{
  display: block;
  background-color: red;
} */



.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  /* min-width: 160px; */
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block; 
  z-index: 1;
  padding: 14px 16px;
}

.dropdown .dropdown-content:hover {
  display: block;
  padding: 14px 16px;
}

.dropdown-content a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
}
