{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- <div class="row my-2">
        <div class="col strong"><a href="{% url 'songs:song_list'%}">All Songs</a></div>
        <div class="col strong"><a href="{% url 'songs:album_list'%}">Albums</a></div>
    </div> -->
    <h1>Favorties</h1>
    
    {% for song in object_list %}
        {% if song.favorite == True %}
            <a href="{% url 'songs:song_detail' song.id %}">
                {{ song.title }}
            </a><br/>
        {% endif %}
    {% endfor %}
{% endblock content %}