{% extends "base.html" %}
{% load static %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/static/js/favorites.js"></script>
<div class="row">
    <div class="col">
        <a href="{% url 'songs:song_list'%}"> Song List </a>
    </div>
    <div class="col">
        <a href="{% url 'songs:favorites_list'%}"> Favorites List </a> 
    </div>
</div>

    <span class="display-1 strong">{{ object.title }}</span> 
    {{object.release_date}} <br/>
    <audio controls>
        <source src={{object.preview_url}} type="audio/mp3">
    </audio>

     by <a href="{% url 'artists:artist_detail' artists.id %}">{{artists.name}} </a><br/>
    
    {% if object.favorite == False %}
        <button type="button" class="btn btn-primary"  data-pk={{object.id}} id="{{object.id}}">Add to favorites</button>
    {% else %}
        <button type="button" class="btn btn-primary" data-pk={{object.id}} id="{{object.id}}">Remove from favorites</button>
    {% endif %}

    <div style="margin-top: 2%;">
        <form action="{% url 'songs:update_favorites' object.id %}" method="POST">
            {% csrf_token %}
            {% if object.favorite == False %}
            <button type="submit" onclick="changeFavorite()" class="favorite btn btn-primary">Favorite</button>
            {% else%}
            <button type="submit" onclick="changeFavorite()" class="favorite btn btn-primary">Unfavorite</button>
            {%endif%}
        </form>
        
    </div>
    
{% endblock content %}


{% block js %}

{% endblock js %} 

