{% extends "base.html" %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/songs.css' %}">
</head>

<body>
    <h1 class="pt-3">Songs</h1>
    <!-- <div class="row songnav">
        <div class="wrapper pull-right">
            <div class="dropdown-content pull-right">
                <p class="col strong"><a href="{% url 'songs:song_list'%}">Songs</a></p>
                <p class="col strong"><a href="{% url 'songs:album_list'%}">Albums</a></p>
                <p class="col strong"><a href="{% url 'songs:favorites_list' %}">Favorite Songs</a></p>
            </div>
        </div>
    </div> -->
    
    <div class="my-2">
        <form action="{% url 'songs:song_search' %}" method = 'get'>
            <div class="inner-addon left-addon">
                <i class="bi bi-search" ></i> 
                <input type="text" name="qs" placeholder="Search Song Name">
              </div>
        </form>
    </div>
    
    <div class="search">
        {% for song in object_list %}
        <div class="py-2" style="font-size:large;">
            <div class="wrapper">
                <div class="box2"><audio class="col" id="preview" controls>
                    <source src={{song.preview_url}} type="audio/mp3">
                </audio></div>
                <div class="box1">
                <button type="submit" onclick="play()" class="favorite">
                    <i class="bi bi-play-btn inline-block  p-2 pt-0" > </i>
                </button></div>
            </div>
            <a class="my-auto inline-block song" id="tes" style="vertical-align:-webkit-baseline-middle;" href="{% url 'songs:song_detail' song.id %}" > {{song.title}} </a>

        </div>
        {% endfor %}
    </div>
        
    
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    {% comment %} <a href="?page=1">&laquo; first</a> {% endcomment %}
                    <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                {% endif %}
        
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                    {% comment %} <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a> {% endcomment %}
                {% endif %}
            </span>
        </div>
    </br></br>
</body>


{% endblock content %}



