{% extends "base.html" %}
{% load static %}

{% block content %}
    <a href="{% url 'songs:song_list'%}" > Song List </a> <br/><br/>
    <span class="display-1 strong">{{ object.title }}</span> 
    {{object.release_date}} <br/>
    <audio controls>
        <source src={{object.preview_url}} type="audio/mp3">
    </audio>

     by <a href="{% url 'artists:artist_detail' artists.id %}"> {{artists.name}} </a><br/>
    
    {% if object.favorite == False %}
        <button type="button" class="btn btn-primary" id="favorite">Add to favorites</button>
    {% else %}
        <button type="button" class="btn btn-primary" id="favorite">Remove from favorites</button>
    {% endif %}

    {% comment %} {% for artist in artists%}
       hi {{artist.name}}
    {%endfor%} {% endcomment %}
    
{% endblock content %}

<script src="{% static 'favorites.js' %}"></script>