{% extends "base.html" %}
{% load static %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/static/js/favorites.js"></script>
<script src="/static/js/main.js"></script>
<!-- <div class="row">
    <div class="col">
        <a href="{% url 'songs:song_list'%}"> Song List </a>
    </div>
    <div class="col">
        <a href="{% url 'songs:favorites_list'%}"> Favorites List </a> 
    </div>
</div> -->

<div class="row">
    <div class="display-1 strong pt-3">{{ object.title }}
        <div id="hovering" style="vertical-align:middle;">
        <form action="{% url 'songs:update_favorites' object.id %}" method="POST">
            {% csrf_token %}
            {% if object.favorite == False %}
            <span class="unfaved">
                <button type="submit"  class="favorite" style="vertical-align:super;"><i class="bi bi-heart h1"></i></button>
                <button type="submit"  class="favorite2" style="vertical-align:super;color:red;"><i class="bi bi-heart-fill h1"></i></button>
            </span>
            {% else%}
            <span class="faved">
                <button type="submit"  class="favorited" style="vertical-align:super;color:red;"><i class="bi bi-heart-fill h1"></i></button>
                <button type="submit"  class="favorited2" style="vertical-align:super;"><i class="bi bi-heart h1"></i></button>
            </span>
            {%endif%}
        </form>
    </div></div> 
    
    <br/>
</div>    


    <audio controls>
        <source src={{object.preview_url}} type="audio/mp3">
    </audio>

     by <a href="{% url 'artists:artist_detail' artists.id %}">{{artists.name}}</a><span class="col">, {{object.release_date}} </span><br/>
    
    {% comment %} {% if object.favorite == False %}
        <button type="button" class="btn btn-primary"  data-pk={{object.id}} id="{{object.id}}">Add to favorites</button>
    {% else %}
        <button type="button" class="btn btn-primary" data-pk={{object.id}} id="{{object.id}}">Remove from favorites</button>
    {% endif %} {% endcomment %}

    
    
{% endblock content %}


{% block js %}

{% endblock js %} 

