{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="display-6">Artists </div><br/>

<div class="my-2">
    <form action="{% url 'artists:search' %}" method = 'get'>
        <div class="inner-addon left-addon">
            <i class="bi bi-search"></i>
            <input type="text" name="q" placeholder="Search Artist Name">
        </div>
    </form>
</div>

<div class="flex-container">
    <div class="test">
        {% for artist in object_list %}
        <a href="{% url 'artists:artist_detail' artist.id %}">
        {{ artist.name }}
        </a><br/>
        {% endfor %}
    </div>
   
</div>

{% endblock content %}